body {
background-color: #1C091F;
padding-right: 10px;
padding-left: 40px;
}
footer {
	background-color: black;
 color: white;
}

.backgroundobject
{
background-color: #1C091F;

}
.profileBox img
{
max-width:50%;
max-height:50%;

}
.personContainer {
color: #333139;

}

.videoContainer
{

color: #33139;


}


.loginMenu

{
color: #333139;


}

h1 {
	color: #d4a7a3;
}

.homeStyle
{
color: #333139;

}
.socials {
  background-color:inherit;
  color: #c98642;
	  width: 50%;
}


/*codenotbyme*/
.container {
	background-color: #360f23;
	 display: flex;
    margin:  10px;
		padding-left: -40px;
		padding-right: -40px;
}
.container a
{
	background-color:#78204d;
	color: #1C091F;
	color: white;
    margin: 5px;
    flex-grow:1;
    /*** Just to center the text ***/
    display: inline-flex;
    justify-content: center;
    align-items: center;
		opacity:1;
		transition: 0.3s;
}
.container a:hover {background-color:#ff3d5a}

/*source https://bootcamp.uxdesign.cc/css-flex-create-dynamic-lists-responsive-429ce8a8517d*/
